{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% trans "Newsletter" %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="{{ STATIC_URL }} /static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }} /static/fontawesome/css/all.css">
        <link rel="stylesheet" href="{{ STATIC_URL }} /static/simple-sidebar/simple-sidebar.css">
        <link rel="stylesheet" href="{{ STATIC_URL }} /static/main.css">        
        <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery/jquery-3.3.1.min.js"></script>
        {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a href="{% url 'newsletter_list' %}"><span class="navbar-brand">Início</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>                            
                </div>
            </nav>
        </header>
        {% endblock header %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>