{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% trans "Newsletter" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ STATIC_URL }} /static/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ STATIC_URL }} /static/fontawesome/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ STATIC_URL }} /static/simple-sidebar/simple-sidebar.css"
    />
    <link rel="stylesheet" href="{{ STATIC_URL }} /static/main.css" />
    <script
      type="text/javascript"
      src="{{ STATIC_URL }} /static/jquery/jquery-3.3.1.min.js"
    ></script>
    {% block header %}
    <header>
      <div class="header-top">
        <div class="container">
          <div class="d-flex justify-content-between">
            <a href="/">
              <img src="/static/img/django-icon.png" width="50px" />
            </a>
            <div class="wrap-nav-social">
              <ul class="nav-social">
                <li>
                  <a
                    target="_blank"
                    class="btn btn-primary p-1 px-2"
                    href="https://www.facebook.com/"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    target="_blank"
                    class="btn btn-primary p-1 px-2"
                    href="https://www.instagram.com/"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    target="_blank"
                    class="btn btn-primary p-1 px-2"
                    href="https://www.youtube.com/"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center fachada">
        <h2 style="font-weight: 300">Sistema de Newsletters</h2>
      </div>
    </header>
    {% endblock header %}
  </head>
  <body>
    <div class="container">{% block body %} {% endblock body %}</div>
    {% block footer %}
    <footer>
      <div class="container">
        <div class="wrap-info">
          <span class="logo-mini">
            <img src="/static/img/django-icon.png" alt="" width="30px" />
          </span>
        </div>
      </div>
    </footer>
    {% endblock footer %}
  </body>
</html>
