{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Subscription to {{ title }}{% endblocktrans %}
</title>
</head>
<body>
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.subscribe_activate_url %}
<div style="margin-bottom:50px;">
        <img src="http://172.16.130.40:8000/media/cache/fb/06/fb065d96be527a2afd48b88f34cd4c5b.jpg" width="720" height="100">
</div>
<div style="max-width: 700px; font-size: 14px; padding: 10px">
    Caro {{ name }},
    você requisitou assinatura na newsletter do Tribunal de Contas - AL 
    {{ title }}.
    Para confirmar a assinatura clique no link abaixo:
    <br>
    http://{{ domain }}{{ url }}
    <br>
    Assinado,{% endblocktrans %}
    {{ newsletter.sender }}
</div>
<div style="margin-top:50px;">
    <img src="http://172.16.130.40:8000/media/cache/bf/d6/bfd6f7bd79c57dfff8b9e196881bfcbb.jpg" width="720" height="150">
</div>
</body>
</html>
